<h1>People#new</h1>

<!--When @person is new, uses people_path method to generate URL , PeopleController#create-->
<!--When @person exists already uses person_path method to generate URL, PeopleController#update-->

<%= form_for @person do |f| %>
    <p>
      <%= f.label :first_name %><br />
      <%= f.text_field :first_name %>
    </p>
    <p>
      <%= f.label :last_name %><br />
      <%= f.text_field :last_name %>
    </p>

    <%= f.fields_for :addresses do |addr| %>
        <div class="address">
          <p>
            <%= addr.label :street %><br />
            <%= addr.text_field :street %>
          </p>
          <p>
            <%= addr.label :city %><br />
            <%= addr.text_field :city %>
          </p>
          <p>
            <%= addr.label :state %><br />
            <%= addr.text_field :state %>
          </p>
          <p>
            <%= addr.label :zip %><br />
            <%= addr.text_field :zip %>
          </p>
        </div>
    <% end %>

    <p id="submit">
      <%= f.submit %>
    </p>

<% end  %>